.CryptoCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 20px;
}

.sort-button {
    cursor: pointer;
}

.positive {
    color: rgb(59, 255, 186);
}

.negative {
    color: rgb(255,59,59);
}

.neutral {
    color: #6a6a6a;
}

.coin-logo {
    width: 3rem;
}

.page-container {
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    gap: 1rem;
}

.page-button {
    border-radius: 50%;
    padding: 0.5rem 1rem;
    border: 1px solid white;
}

.page-button:hover {
    transform: scale(1.2);
    background-color: #222222;
    cursor: pointer;
}

table {
    padding: 2rem;
    width: 100%;
    background: #244a7a;
    border-radius: 2rem;
}


th, td {
    text-align: center;
    padding: 0.5rem;
}

@media (max-width: 760px) {
    .CryptoCards {
        font-size: 1.4rem;
    }
    table {
        padding: 0.8rem;
    }
    .coin-mobile {
        display: none;
    }
    th, td {
        text-align: center;
        padding: 0.2rem;
    }
}

@media (max-width: 425px) {
    .CryptoCards {
        font-size: 1rem;
    }
    table {
        padding: 1rem;
    }
    .coin-mobile {
        display: none;
    }
    th, td {
        text-align: center;
        padding: 0.2rem;
    }
}

