.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.logo-chat {
    width: 100px;
    position: fixed;
    top: 5px;
    right: 5px;
}

@media (max-width: 760px) {
    .logo-chat {
        width: 75px;
    }
}

@media (max-width: 425px) {
    .logo-chat {
        width: 75px;
    }
}
